<header>
  <mat-toolbar color="primary">
    <span>Words Make World</span>
    <span class="example-spacer"></span>
    <button mat-icon-button aria-label="Account Info Button" aria-hidden="false">
      <mat-icon fontIcon="account_circle"></mat-icon>
    </button>
    <button mat-button aria-label="Login button" aria-hidden="false" routerLink="/login">Login</button>
    <button mat-button aria-label="Login button" aria-hidden="false">Register</button>
  </mat-toolbar>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer></footer>
